@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

/*color:#e8c791 ;
color: #fae1a8;
color: #d1a26f;
color:#a98162 ;
color:#d8beb1 ;
color: #f4f0ed;
color: #116769;
color: #064236;*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;

}

::selection {
    background-color: rgba(10, 92, 70, 0.262);
}

.logo {
    width: 150px;

}

header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);

}

header nav {
    /*background-color: red;*/
    max-width: 95%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #116769;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;


}


.hamburger {
    padding-left: 1.5rem;
}

.hamburger a {
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: #d1a26f78;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;

}

.hamburger .bar {
    position: relative;
    width: 52%;
    height: 1px;

    background-color: #064236;
    border-radius: 2px;


}

.hamburger .bar::before,
.hamburger .bar::after {

    content: "";
    position: absolute;
    left: 50%;

    transform: translate(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;


}

.hamburger .bar::before {
    top: -4.5px;
}

.hamburger .bar::after {
    top: 4.5px;
}

main {
    position: relative;

    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.animation {

    pointer-events: none;
    /*transform: translateX(-50%)translateY(-50%);*/
    /*transition: 0.45s cubic-bezier(.2,.49,.32,.99);/*cubic-bezier.com*/


}
.wrapper{
   
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;

}

.bg-img {
    position: absolute;
    z-index: 1;
    
    width: 194.44%;/*convert to % 2800px/1440=1,9444*/
    top: calc(50% - 48.14%); /*convert to % 390px/810=0,4814*/
    left: calc(50% + 0.6%);/*convert to % 10px/1440=0,006*/
    transition: none;
    opacity: 1;

}

.fog-7 {
    position: absolute;
    z-index: 2;
    /*width: 1900px;
    top: calc(50% - 100px);
    left: calc(50% + 300px);*/
    width: 131.94%;/* 1900px / 1440 */
    top: calc(50% - 12.35%);/* 100px / 810 */
    left: calc(50% + 20.83%); /* 300px / 1440 */


}

.mountain-10 {
    position: absolute;
    z-index: 3;
    /*width: 892px;
    top: calc(50% + 69px);
    left: calc(50% + 230px);*/
    width: 60.94%; /* 892px / 1440 */
    top: calc(50% + 8.52%); /* 69px / 810 */
    left: calc(50% + 15.97%); /* 230px / 1440 */
    
}

.fog-6 {
    position: absolute;
    z-index: 4;
    /*width: 2500px;
    top: calc(50% + 185px);
    left: calc(50% + 110px);*/
    width: 173.61%; /* 2500px / 1440 */
    top: calc(50% + 22.84%); /* 185px / 810 */
    left: calc(50% + 7.64%); /* 110px / 1440 */


    /*position: absolute;
    z-index: 4;
    width: 1610px;
    top: calc(50% + 85px);
    left: calc(50% + 10px);*/
}


.mountain-9 {
    position: absolute;
    z-index: 5;
   /*width: 500px;
    top: calc(50% + 150px);
    left: calc(50% - 650px);*/
    width: 34.72%;
    top: 64.65%;
    left: -11.81%;


    /*position: absolute;
    z-index: 5;
    width: 470px;
    top: calc(50% + 113px);
    left: calc(50% - 457px);
    */
}

.mountain-8 {
    position: absolute;
    z-index: 6;
    width: 70%; /* 810px / 1440px */
    top: 80%; /* (50% + 86px) / 1024px */
    left: 35.97%; /* (50% - 202px) / 1440px */

}

.fog-5 {
    position: absolute;
    z-index: 7;
    width: 31.25%; /* 450px / 1440px */
    top: 65.62%; /* (50% + 160px) / 1024px */
    left: 51.39%; /* (50% + 20px) / 1440px */

}


.mountain-7 {
    position: absolute;
    z-index: 8;
    width: 40.31%; /* 638px / 1440px */
    top: 66.41%; /* (50% + 170px) / 1024px */
    left: 71.18%; /* (50% + 305px) / 1440px */

    /*position: absolute;
    z-index: 8;
    width: 538px;
    top: calc(50% + 123px);
    left: calc(50% + 305px);
   */
}

.text {
    position: absolute;
    z-index: 9;
    top: 30%; /* (50% - 130px) / 1024px */
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    pointer-events: auto;
}


.text h2 {
    font-weight: 100;
    font-size: 4.5rem;


}



.text h1 {
    font-weight: 800;
    font-size: 10rem;
    line-height: 0.88;
    color: #e8c791;
    color: #116769;
    color: #d1a26f;


}

.mountain-6 {
    position: absolute;
    z-index: 10;
    width: 35.28%; /* 508px / 1440px */
    top: 58.79%; /* (50% + 100px) / 1024px */
    left: 95.83%; /* (50% + 660px) / 1440px */

    /* position: absolute;
    z-index: 10;
    width: 408px;
    top: calc(50% + 60px);
    left: calc(50% + 590px);
    */
}


.fog-4 {
    position: absolute;
    z-index: 11;
    top: 71.78%; /* (50% + 223px) / 1024px */
    left: 46.67%; /* (50% - 60px) / 1440px */
    width: 40.97%; /* 590px / 1440px */

}

.mountain-5 {
    position: absolute;
    z-index: 12;
    top: 79.30%; /* (50% + 300px) / 1024px */
    left: 59.03%; /* (50% + 130px) / 1440px */
    width: 50.35%; /* 725px / 1440px */

    /*position: absolute;
    z-index: 12;
    top: calc(50% + 250px);
    left: calc(50% + 130px);
    width: 625px;
   */
}

.fog-3 {
    position: absolute;
    z-index: 13;
    top: 60.74%; /* (50% + 110px) / 1024px */
    left: 48.96%; /* (50% - 15px) / 1440px */
    width: 111.11%; /* 1600px / 1440px */

}

.mountain-4 {
    position: absolute;
    z-index: 14;
    top: 75.39%; /* (50% + 260px) / 1024px */
    left: 11.81%; /* (50% - 550.5px) / 1440px */
    width: 66.94%; /* 964px / 1440px */

    /*position: absolute;
    z-index: 14;
    top: calc(50% + 196px);
    left: calc(50% - 381.5px);
    width: 464px;
    */
}

/*korrigieren*/
.mountain-3 {
    position: absolute;
    z-index: 15;
    top: 60.02%; /* (50% + 123px) / 1024px */
    left: 100%; /* (50% + 905px) / 1440px */
    width: 32.22%; /* 464px / 1440px */
    /* position: absolute;
    z-index: 15;
    top: calc(50% + 123px);
    left: calc(50% + 305px);
    width: 464px;*/
}

.fog-2 {
    position: absolute;
    z-index: 16;
    top: 62.99%; /* (50% + 147px) / 1024px */
    left: 47.92%; /* (50% - 30px) / 1440px */
    width: 108.33%; /* 1560px / 1440px */

}

.mountain-2 {
    position: absolute;
    z-index: 17;
    top: 63.48%; /* (50% + 154px) / 1024px */
    left: 78.61%; /* (50% + 412px) / 1440px */
    width: 47.92%; /* 690px / 1440px */

}

.mountain-1 {
    position: absolute;
    z-index: 18;
    top: 50.98%; /* (50% + 10px) / 1024px */
    left: 5%; 
    width: 40%; /* 630px / 1440px */

    /* position: absolute;
    z-index: 18;
    top: calc(50% + 17px);
    left: calc(50% - 601px);
    width: 530px;*/
}

.sun-rays {
    position: absolute;
    z-index: 19;
    top: 0;
    right: 0;
    width: 62.15%; /* 895px / 1440px */
    pointer-events: none;

}


/*.black-shadow{
    position: absolute;
    z-index: 20;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

}*/

.fog-1 {
    position: absolute;
    z-index: 21;
    top: 100%; /* (100% - 355px) / 1024px */
    left: 50%;
    width: 166.67%; /* 2400px / 1440px */
    /*width: 1600px;*/

}

/*.vignette {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center,
            rgba(0, 0, 0, 0) 65%,
            rgba(0, 0, 0, 0.7));
    pointer-events: none;
}*/
@media (max-width: 1700px) {
    .text h1 {
        font-size: 8rem;
    }

    .text h2 {
        font-size: 4rem;
    }
    
    .bg-img{
        /*width: initial;*/
        /*height:194.44%*1.6 ;*/
        height: 311.104%;
       
    }
    .fog-7 {
        /*width: initial;*/
       
        height: 211.104%;
    
    }

    .mountain-10 {
       /* height: initial;*/
        height: 97.504%;
        
    }
    .fog-6 {
        /* height: initial;*/
         height: 80%;
         
     }
     .mountain-9 {
        /* height: initial;*/
         height: 55.552%;
         
     }
     .mountain-8 {
        /* height: initial;*/
         height: 90%;
         
     }
     .fog-5 {
        /* height: initial;*/
         height: 50%;
         
     }
     .mountain-7 {
        /* height: initial;*/
         height: 64.496%;
         
     }
     .mountain-6 {
        /* height: initial;*/
         height: 100%;
         
     }
     .fog-4 {
        /* height: initial;*/
         height: 65.552%;
         
     }
     .mountain-5 {
        /* height: initial;*/
         height: 80.56%;
         
     }
     .fog-3 {
        /* height: initial;*/
         height: 177.776%;
         
     }
     .mountain-4 {
        /* height: initial;*/
         height: 107.104%;
         
     }
     .mountain-3 {
        /* height: initial;*/
         height: 100%;
         
     }
     .fog-2 {
        /* height: initial;*/
         height: 173.328%;
         
     }
     .mountain-2 {
        /* height: initial;*/
         height: 90%;
         
     }
 
     .mountain-1 {
        /* height: initial;*/
         height: 120%;
         

}
}

@media (max-width: 1100px) {
    .text h1 {
        font-size: 5.8rem;
    }

    .text h2 {
        font-size: 3.5rem;
    }
    .bg-img{
        /*width: initial;*/
        /*height:194.44%*1.6 ;*/
        height: 311.104%;
       
    }
   


}

@media (max-width: 725px) {
    .text h1 {
        font-size: 5rem;
        line-height: 1.1;
    }

    .text h2 {
        font-size: 3rem;
        line-height: 1.1;
    }

    header nav {
        padding: 0 1rem;
    }

    .logo {
        width: 75px;
    }

    header ul a {
        font-size: 0.73rem;
        padding: 0 0.9rem;
    }

    .login {
        font-size: 0.85rem;
        padding: 0 1.8rem;
    }

    .hamburger {
        padding-left: 0.9rem;


    }

    .hamburger a {
        height: 30px;
        width: 30px;

    }
}

@media (max-width: 520px) {
    .text h1 {
        font-size: 3.3rem;
    }

    .text h2 {
        font-size: 2.5rem;
    }
}